@page
@model WebAppAuthAndAuth.Pages.HRManagerModel
@{
}

<div>
    <h1>HR Manager</h1>
    <ul>
        @foreach (var item in Model.WeatherForecastItems)
        {
            <li>@item.Date.ToLongDateString() - @item.Summary</li>
        }
    </ul>
</div>
