@model MVCDay2Begin.Models.Trainer


<h2>Details Trainer</h2>

<strong>First Name: @Model.FirstName</strong>
<br />
<strong>Last Name: @Model.LastName</strong>
<br />
<strong>Subject: @Model.Subject</strong>
<br />

<a href="/Trainer/Index">Go To Trainer Index</a>




