
@page
@model AbbyWeb.Pages.Categories.DeleteModel
@{
}

<form method="post">
	<div class="border p-3 mt-4">
		<input type="hidden" asp-for="@Model.Category.Id"/>
		<div class="row pb-2">
			<h2 class="text-danger pl-3">Edit Category</h2>
			<hr />
		</div>
		<div asp-validation-summary="All"></div>
		<div class="mb-3">
			<label asp-for="Category.Name"></label>
			<input asp-for="@Model.Category.Name" class="form-control" disabled/>
			<span asp-validation-for="Category.Name" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Category.DisplayOrder"></label>
			<input asp-for="@Model.Category.DisplayOrder" class="form-control"disabled/>
			<span asp-validation-for="Category.DisplayOrder" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-danger" style="width:150px;">Delete</button>
		<a asp-page="Index" class="btn btn-danger">Back To List</a>
	</div>
</form>

<!--Add this script in order to do client side validation-->
@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial"/>
	}
}
