

@if (User.IsInRole("Admin"))
{
    <h2>You are @User.Identity.Name</h2>
}

@if (User.Identity.IsAuthenticated)
{
    <button>Click re authenticated ...</button>
}
else
{
    <button>Pare dromo...</button>
}



