<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css"rel="stylesheet"/>
</head>
<body>
    <h1>My Layoutttt</h1>
    <div>
        @RenderBody()
    </div>
</body>
</html>
