/*
    after searching with color picker
    body #ebeced
    header #37454d
    button #428500
    check in left #007fad
    check out left #f48f00
    search button #007fad
    price before #c94a3a
    rating starts #f6ab3f
    into bg #9ba2a6
    text-primary #37454d
    text-secondary #6c767c
*/

/*CSS Custom Reset*/
input,select,body,h1,h2,h3,h4,h5,h6{
    border:none;
    background:none;
    margin:0px;
    padding:0px;
}


